
<div class="content1">
  <div class="heading-index">
   <h3>
     Search
   </h3>
   <hr></hr>
  </div>
  <div class="search-form">
  <div class="semi-header">Keywords</div>
    <ul>
      <%= form_tag('/articles/search', method: :get ) do %>
      <li>
        <%= text_field_tag "keywords[]", "" ,class: "keyword-form" %>
      </li>
      <li>
        <%= text_field_tag  "keywords[]", "" ,class: "keyword-form" %>
      </li>
    </ul>
  </div>
  </div>
  <div class="date-range">
    <div class="semi-header">Published Year</div>
      <%= text_field_tag "start_year", "", class: "year-form" %> 
          <span class="between-years"> - </span>
      <%= text_field_tag "end_year", "", class: "year-form year-form-right" %>
    </div>

    <input class="search" type="submit" value="Search">
       <% end %>
