
<div class="content1">
  <div class="heading-index">
   <h3>
     Keyword
   </h3>
   <hr></hr>
  </div>
  <div class="search-form">
  <ul>
    <%= form_tag('/articles/search', method: :get ) do %>
    <li>
      <%= text_field_tag "keywords[]", "" ,class: "form" %>
      </li>
       <li>
      <%= text_field_tag  "keywords[]", "" ,class: "form" %>
      </li>
      </ul>
  </div>
  </div>
   <div class="date-range">
    <%= text_field_tag "start_year", "", class: "form-year" %> ~
    <%= text_field_tag "end_year", "", class: "form-year" %>
  </div>

    <input class="search" type="submit" value="Search">
       <% end %>
<div class="blank">
</div>
