<div class="article">
 <div class="brief-info">
   <span class="title-show"> "<%= @article.title %>" </span>
   <span class="author-show"> by <%= @article.author %>, </span>
   <span class="date-show"> <%= @article.date %> </span>
   </div>
   <span class="just-title"> Abstract </span>
   <span class="comment"> <i class="fa fa-comment fa-2x open-modal" style="color: black"></i></span>
    <div class="abstract">
      <%= @article.abstract %>
    </div>
</div>
<div class="cover-background">
</div>

 <div class="modal">
  <% if @myfavourite %>
    <div class="modal-content1">
      <div class="modal-header1">
       <h3>
        Comment
       </h3>
       </div>
       <div>
         <p class="close-modal"> × close </p>
       </div>

      <div class="modal-body1">
       <%= form_for [@article, @myfavourite] do |f|  %>
          <%= f.text_area :comment, placeholder: '' %>
      </div>
      <div class="modal-footer">
         <div class="update-click">
         <%= f.submit 'Update' %>
         </div>
       <% end %>
        <div class="delete-click">
         <%= link_to "Delete", article_favourite_path(article_id: @article.id, id: @myfavourite.id), method: :delete %>
        </div>
      </div>
    </div>

      <% else %>
    <div class="modal-content2">
        <div class="modal-header2">
         <h3>
          Comment
         </h3>
        </div>
        <<div>
          <p class="close-modal"> × close </p>
        </div>
        <div class="modal-form2">
         <%= form_for [@article, @favourite] do |f|  %>
           <%= f.text_area :comment, placeholder: 'Any Commnt?' %>
        </div>
         <div class="create-click">
         <%= f.submit '♡' %>
       </div>
      <% end %>
   </div>
   </div>
   <% end %>
 </div>
</div>