
<!-- puts Article.find(params[:id]) -->

    <%= @article.title %>
    <%= @article.author %>
    <%= @article.date %>
    <br/>
   <h3>
    Abstract
   </h3>
    <%= @article.abstract %>
   <h3>
    Comment
   </h3>

   <%= form_for [@article, @favourite], url: article_favourites_create_path do |f|  %>
   <div>
    <%= f.text_area :favourite, placeholder: 'Any Comment?' %>
   </div>
   <<div>
     <%= f.submit '♡' %>
   </div>>
    <% end %>

