
<!-- puts Article.find(params[:id]) -->

    <%= @article.title %>
    <%= @article.author %>
    <%= @article.date %>
    <br/>
   <h3>
    Abstract
   </h3>
    <%= @article.abstract %>
   <h3>
    Comment
   </h3>

   <% if @myfavourite %>
    <div>
      <%= form_for [@article, @myfavourite] do |f|  %>
    <div>
     <%= f.text_area :comment, placeholder: '' %>
    </div>
    <div>
     <%= f.submit 'Update' %>
    </div>
    <% end %>
    </div>
    <div>
    </div>
     <%= link_to "Delete", article_favourite_path(article_id: @article.id, id: @myfavourite.id), method: :delete %>

   <% else %>
    <%= form_for [@article, @favourite] do |f|  %>
    <div>
     <%= f.text_area :comment, placeholder: 'Any Commnt?' %>
    </div>
    <div>
     <%= f.submit '♡' %>
    </div>
    <% end %>
  <% end %>