 <!DOCTYPE html>
<html>
<head>
  <title>Articler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>
 <body>
  <header class="header">
    <div class="header_bar clearfix">
      <div class="heading">Articler</div>
  
  <div class="open-bar">
      <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

  <div class="bar">
      <% if user_signed_in? %>
         <div class="grid-6">
            <div class="user_info">
              <a href="/users/<%= current_user.id %>">My page</a>
            </div>
            <div class="sign_out">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            </div>
         </div>
           <% else %>
         <div class="grid-6">
          <div class="log_in">
           <%= link_to "Log In",new_user_session_path, class: 'post' %>
           </div>
           <div class="new_account">
           <%= link_to "New Account", new_user_registration_path, class: 'post' %>
           </div>
         </div>
        <% end %>
  </div>

      

    <div class="search-button">
      <a href="/"><i class="fa fa-search fa-3x" aria-hidden="true"></i></a>
    </div>
  </div>
  </header>
  <%= yield %>
 </body>
</html>
